<%= link_to("Add a New Post!", posts_new_path) %>

<h1>ALL OF THE BLOG POSTINGS</h1>

<ul class="posts">
  <%= paginate @posts%>
  <% @posts.each do |post| %>
    <li class="blog-post">
      <%= render partial: "post", locals: { post: post } %></br>
      <%= link_to("Edit this post!", posts_edit_path(post))%>
      <%= link_to("Delete Me", posts_destroy_path(post), method: :delete)%>
    </li>
  <% end %>
</ul>
